*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
}

body{
    font-family: Arial, sans-serif;
    background: #fff;
    width: 100%;
}

a{
    text-decoration: none;
}

p{
    text-decoration: none;
}




  

