#container{
    width: 1025px;
    margin: 0 auto;
}

#container{
    width: 100%;
}

/*Nome Fansub */

.nome-fansub{

    font-family: Cheeky Rabbit;
    font-size: 30px;
    
}

.korean-drama h3{

  font-family: Cheeky Rabbit;
  font-size: 50px;
  text-align: center;
  color: #404040;
  margin-bottom: 30px;

}

.nome-fansub h3{

    margin-top: -100px;
}

/* Navegacao-dorama */

.navegacao-dorama{

    width: 100%;
    background-color: #fcead4;
    padding: 10px;
    margin-top: 5px;
    text-align: center;

}

.menu-dorama{
    
    padding:0px;
    list-style: none;
    margin-left: -10px;
    
    

}

.menu-dorama li {
    display: inline;
    
    

    
}

.menu-dorama li a{

    padding: 2px 10px;
    display: inline-block;
    color: #404040;
    font-family: Cheeky Rabbit;
    font-size: large;
    font-size: 27px;
    
}  

/* VIEW Cabecalho ( Menu Navegação ) */


.navegacao{

    background-color: #fcead4;
    padding: 10px;
    width: 100%;
    position:fixed;

}

.menu{

    padding:0px;
    margin:0px;
    list-style: none;
    text-align: center;
    margin-right: 300px;
    

}

.menu li {
    display: inline;
    
}

.menu li a{

    padding: 2px 10px;
    display: inline-block;
    color: #404040;
    font-family: Cheeky Rabbit;
    font-size: large;
    font-size: 27px;
}   



/* Redes Sociais */

.redes-sociais {

    float: right; 
    position: fixed;
    right: 195px;
    margin-top: 15px;

}

.redes-sociais img{

    width: 20px;
}

/* Login */

.entrar{

    float: right; 
    position: fixed;
    right: 110px;

  

}

.entrar img{

    width: 50px;
}

/* Banner Home */

.banner{

    width: 100%;
    text-decoration: none;
    margin-top: 40px;
}

/* Frase */

.frase{

    width: 100%;
    background-color: #fbf9f4;
}

.frase p{

    text-align: center;
    font-family: NoemieScript;
    font-size: 30px;
    text-decoration: none;
    padding-top: 12px;
    color: #926677;
}

/* Imagem tv-filme */

.imagem{

    width: 180px;
    margin-left: 100px;
    margin-right: -865px;


}

.texto-lancamento{


    color: #404040;
    float: right;
    margin-right: 778px;
    margin-top: -100px;
}

.texto-lancamento h2{

    font-size: 38px;
    font-family: Cheeky Rabbit;
}

/*Login*/

.novo-cadastro{

    font-family: arial;
    font-size: 15px;
    float: left;
    margin-left: -110px;
    color: #2a2a2a;
    margin-top: 5px;
    margin-bottom: 10px;
}

.login{

    
    width: 400px;
    height: 530px;
    text-align: center;
    margin: 10px auto 10px auto;
    margin-bottom: 70px;
    padding-top: 40px;
    text-align: center;
    padding: 30px 30px 30px 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px #d9d9d9;
    background-color:#fbf9f4;
   
}


.alinhatudo input{

    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
}


.email{

    width: 350px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.senha{

    width: 350px;
    margin-top: 15px;
}

#txtlog{  


    font-family: Cheeky Rabbit;;
    font-size: 40px;
    text-align: center;
    color: #2a2a2a;
    margin-top: 50px;

}

.logar{

        width: 350px;
        height: 46px;
        border: none;
        background-color: #2a2a2a;
        font-family: arial;
        font-size: 18px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 5px;
        opacity: 1;
   
}

.logar-fb{

    width: 172px;
    height: 46px;
    border: none;
    background-color: #3b5998;
    font-family: arial;
    font-size: 18px;
    color: #fff;
    margin-top: 5;
    margin-bottom: 40px;
    opacity: 1;

}

.logar-g{

    width: 172px;
    height: 46px;
    border: none;
    background-color:white;
    font-family: arial;
    font-size: 18px;
    color: #404040;
    margin-top: 5x;
    margin-bottom: 40px;
    opacity: 1;

}

.btn_modal{
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
    color: #2a2a2a;
    float: left;
    margin-left: 10px;
    margin-top: 3px;

}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
 

/* LOGIN - Modal */
#modal{ 
    background-color: rgba(0, 0, 0, 0.6); 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    display: none; 
    z-index: 1;
}


.box-modal{ 
    background:#ffffe6;
    border-radius: 5px;
    position: absolute;
    top: 42%;
    left: 42%;
    width: 45%;
    height: 300px;
    margin-left: -15%;
    margin-top: -100px;
    text-align: center; 
    padding: 5px;        
}
        
.box-modal h3{
    font-family: arial;
    font-size: 32px;
    color: #2a2a2a;
    margin-top: 70px;
}

.fechar{ 
    position: absolute;  
    top: -2px; 
    right: -2px;
    width: 28px;
    cursor: pointer;
}
        
#emailmodal{ 
    width: 500px;
    height: 36px;
    margin-top: 20px;
    border-style: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;   
}

#recupera{ 
    width: 500px;
    padding: 17px;
    border: none;
    margin-top: 40px;
    background-color: #2a2a2a;
    font-family: arial;
    font-size: 18px;
    color: #ffffe6;  
}

#recupera:hover{
    background:  #404040;
}

#sobe{
    margin-top: -20px;
}

/*Cadastro*/

.Cadastro{

    
    width: 500px;
    height: 610px;
    padding: 30px 30px 30px 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px #d9d9d9;
    background-color:#fbf9f4;


}

.alinha-input-cadastro input{

    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
}

#nome{

    width: 390px;

}

#mail{
    width: 390px;


}

#pass{

    width: 390px;

}

#repass{

    width: 390px;

}

.cadastrar{

        width: 350px;
        height: 46px;
        border: none;
        background-color: #2a2a2a;
        font-family: arial;
        font-size: 18px;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 40px;
        opacity: 1;
        text-align: center;

}


/* Lançamentos - Home */

#home-lancamento{
    width: 89%;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    padding-bottom: 20px;
}

.img-text-lancamento img{
    width: 24%;
    position: relative;
    top: 10px;
    left: 26px;
    margin-bottom: 10px;
}

.movie-series-lancamento{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.ms-lancamento{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

.ver-lancamento {
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    padding: 7px 81px 7px 81px;
    background: #f6e5ff;;
    color: #404040;
    font-size: 20px;
}

.img-lancamento{
    width: 90%;
    margin-bottom: 15px;
    margin-top: 14px;
    border-radius: 5%;
}


/* Rodape */

.rodape{

    position: relative;
    bottom: 0;
    width: 100%;
    height: 89px;
    background-color:#fcead4;
    

}

.rodape img{

    width: 30px;
    margin-top: 33px;
    color: #404040;

 
}

/*Pesquisa*/

.espaco{
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.nav-bug{
    width: 100%;
    height: 64px;
    background-color: #fff;
    margin-bottom: 20px;
}

.oppa-bunito img{

    margin-top: -500px;
    width: 400px;

}

/* View Doramas ADD*/



.dorama-drama img{

    width: 200px;
    height: 300px;
    float: left;
    margin: 0 0 0 23px;
    text-align: center;
}

.button {

    width: 239px;
    height: 46px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #2a2a2a;
    font-family: arial;
    font-size: 18px;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 24px;
    opacity: 1;
    text-align: center;

}

.pesquisa{
    width: 230px;  
    padding: 3px;
    position: fixed;
    top: 14px;
    right: 280px;
    outline: none;
    background-color: transparent;    
    border: none;
    border-bottom: 1px solid #666; 
}

.divBusca{

    width: 290px;
    position: relative;
    right: -70px;
    top: 15px;
    display: block;
}

/*Pagina Dorama*/

.informacoes h3{

    font-family: Cheeky Rabbit;
    font-size: 30px;
    color: #404040;
    margin-top: 45px;
    margin-bottom: 10px;

}

.mm h3{

    margin-top: 20px;


}

.informacoes span{

    font-family: century gothic;
    font-style: bold;
    font-size: 19px;
    text-align: center;
}

.imagem-draa img{

    margin: 0 auto 0 230px;
    border-radius: 5px;
    width: 960px;
    height: 960px;
}


.informacoes{

    text-align: center;
    width: 892px;
    height: auto;
    margin: 14px auto 10px auto;
    padding: 0 0 0 0;
    background-color: #fff;
   


}

.info-drama{

    margin-top: 50px;
    margin-right: 100px;
}

.info-drama input{

    width: 500px;
    height: 46px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #2a2a2a;
    font-family: arial;
    font-size: 18px;
    color: #fff;
    margin-top: -400px;
    opacity: 1;
    text-align: center;
    float: right;
    margin-right: 29px;
    
}

.info-drama span{

    float: right;
    margin-right: 170px;
    margin-top: -470px;
    font-family: Cheeky Rabbit;
    font-size: 30px;
    color: #404040;

}



.imagem-dorama{

    margin-top: -762.2px;
    margin-left: 90px;


}

/* DIV CADASTRO */

.faca-cadastro{

    float: right;
    margin-top: -305px;
    margin-right: 40px;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 30px 30px 30px 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px #d9d9d9;
    background-color:#fbf9f4;

}

.cdastra{

        width: 250px;
        height: 46px;
        border: none;
        background-color: #2a2a2a;
        font-family: arial;
        font-size: 18px;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 40px;
        opacity: 1;
}

/*Paginação*/


/* Comentário */

.comenta{

    width: 1300px;
    height: 90px;
    margin-left: 24px;
    background-color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;

}

.poosts{

      width: 145px;  
      height: 6%;
      margin-left: 1180px;
      margin-top: 4px;
      margin-bottom: 5px;
      border: none;
      border-radius: 10px 10px 10px 10px;
      font-family: arial;
      font-size: 15px;
      color: white;
      background-color: #404040;
      
}

.comentario{
    width: 100%;
    background-color: #fcead4;
    padding-top: 10px;
    margin-top: 10px;
}



.comentario h2{

    font-family: Cheeky Rabbit;
    font-size: 36px;
    margin-bottom: 5px;
    margin-left: 24px;
}

/* Home ADM */
* {
    box-sizing: border-box;
  }
  
  /* style the container */
  .container {
    position: relative;
    border-radius: 5px;
    padding: 20px 0 30px 0;
  } 
  
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    margin-top: 30px;
    background-color: #3B5998;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  
  /* style the submit button */
  input[type=submit] {
    background-color: #404040;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #926677;
  }
  
  /* Two-column layout */
  .col {
    float: left;
    width: 90%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row h2{

        font-family: Cheeky Rabbit;
        font-size: 40px;
        margin-bottom: 30px;
  }
  
  /* vertical line */
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(50%);
    border: 2px solid #ddd;
    height: 175px;
  }
  
  /* text inside the vertical line */
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }

  /*ESQUECI SENHA */

  .esqueci-sneha{

    width: 400px;
    height: 210px;
    text-align: center;
    margin: 20px auto 10px auto;
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    padding: 30px 30px 30px 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 2px #d9d9d9;
    background-color:#fbf9f4;
  }

  .esqueci-sneha span{

    font-family: Cheeky Rabbit;
    font-size: 30px;
    color: #404040;
    margin-bottom: 5px;
    
    

  }

  .esqueci-sneha input{

    margin-top: 15px;
  }

  .logar-esqueci{

        width: 335px;
        height: 46px;
        border: none;
        background-color: #2a2a2a;
        font-family: arial;
        font-size: 18px;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 5px;
        opacity: 1;
  }

  /* PAGINAÇÃO */

  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    margin-left: 50px;
    margin-bottom: 15px;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  .pagination a.active {
    background-color: #404040;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  /* ADM */ 

/* MENU ADM */

.icon-bar {
    width: 10%;
    background-color: #fff;
    margin-bottom: 100px;

  }
  
  .icon-bar a {

    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  

  .active {
    background-color: #ccc;
  
  }

  /* TABELA */

  table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: -590px;
    margin-bottom: 40px;
    margin-left: 200px;

  }
  
  td, th {

    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .imagem-lixo{

    width: 15px;

  }

  .imagem-lapis{

    width: 17px;
    margin-left: 2px;
    margin-right: 5px;
  }

  .img-menu-adm{

    width: 40px;
  }

  /*CADASTRAR DORAMA */

  #geral-dramas-cad{

    width: 400%;
    margin: 0 auto 0 auto;
    margin-top: 10px;

}


.geral-cadastro-drama{
    width: 900px;
    position: absolute;
    top: 70px;
    left: 160px;
    margin-top: 15px;
    border: 1px solid #000;
    background-color: #fff;

}

.geral-cadastro-drama h4{
    border-bottom: 1px solid #000;
    padding: 5px 10px 0px 15px;

}

.inputs-cadastro-drama-adm{
    width: 45%;
    margin-left: 15px;
    margin-top: 15px;

}

.inputs-cadastro-drama-adm input{
    padding: 3px 50px 3px 0px;
    margin-bottom: 7px;
    border: none;
    background: none;
    border-bottom: 1.5px solid #000;
    outline: 0;
}

::-webkit-input-placeholder {
    color: black;
 }

.textarea-cadastro-drama-adm{
    width: 60%;
    position: absolute;
    top: 0;
    left: 460px;
    margin-top: 150px;

}

.inputs-cadastro-drama-adm input ::-webkit-input-placeholder{
    color: black;
}

 

 .textarea-cadastro-drama-adm ::-webkit-input-placeholder { 
     color: black;
     padding: 5px;
 }

.add-img-cadastro-drama-adm{
    width: 45%;
    height: 140px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-img-cast-drama-adm{

    width: 68%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.add-img-cadastro-drama-adm button{

    
    text-align: center;
    background: none;
    border: none;
    
    
}

.add-img-cast-drama-adm button {

    text-align: center;
    background: none;
    border: none;
    
    
}

.add-img-cast-drama-adm button img{
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.add-img-cadastro-drama-adm button img{
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.buttons-cadastro-drama-adm{
    float: right;
    margin: 0px 10px 10px 0px;
}

.buttons-cadastro-drama-adm button{
    padding: 2px;
    margin-left: 3px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.marge-baixo{

    margin-bottom: 100px;
}



.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {

    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
  }





  .banner img{

    width: 500px;
    height: 560px;
    margin-bottom: 10px;
    margin-top: -20px;
    margin-left: 100px;
    border-radius: 15px;
  }

  .fundo-post-drama{

    width: 1260;
    margin-left: 40px;
    border-radius: 2px;
    margin-top: -10px;

  }

  .nome-postagem h2{

    float: right;
    margin-top: -550px;
    margin-right: 180px;
    font-family: Cheeky Rabbit;
    font-size: 40px;
    color: #404040;
  }

  .conteudo{

    width: 550px;
    height: auto;
    float: right;
    margin-top: -510px;
    margin-right: 70px;
  }
  
  .conteudo span{

    font-family: cursive;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    
  }

  .bold{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: #404040;


  }

  .mm span{

    font-family: cursive;
    font-size: 18px;
  }

  /* VIDEO */

  .video{

    width: 1300px; 
    height: auto;
    margin: 0 auto 0 auto;
    padding-top: -20px;
    margin-bottom: 20px;

  }

  .nome-video h2{

    text-align: left;
    margin-left: 150px;
    margin-bottom: 10px;
    color: #404040;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


  }

  .video-aqui{

    margin: 0 auto 0 auto;
    text-align: center;
    width: 1000px;
    height: 600px;
    border: 4px solid #404040;
    border-style: dashed;
    background-color: #404040;
  }

  .botao-vai-vem{

    text-align: center;
    margin-top: 10px;

  }

  .botao-vai-vem button{

    border: none;
    width: 400px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #404040;
    color: cornsilk;
    

  }



  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {

    width: 200px;
    margin-top: -25px;
    margin-left: 20px;
    background-color: #404040;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
  
    margin-top: -630px;
    margin-left: 200px;
    border-radius: 5px;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .b-add-dorama{
    width: 190px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 950px;
    margin-bottom: 10px;
    margin-top: -30px;
    cursor: pointer;



  }

.form-group input{

  width: 100px;

}

/*USUARIO */

/* home-usuário*/

.usuario-foto{

  width: 400px;
  text-align: center;
  margin-bottom: 10px;

}

.usuario-foto h2{

  font-family: Cheeky Rabbit;
  font-size: 30px;
  
}

.usuario-foto h3{

  font-family: arial;
  font-weight: lighter;


}

.usuario-foto img{
  width: 300px;
  height: 300px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 18px;
}

.usuario-foto span{

    font-family: arial;
    font-weight: bolder;
    

}

.usuari-favorito{

  width: 400px;
  height: 300px;
  margin-left: 500px;
  margin-top: -421px;
  margin-bottom: 400PX;
}

.usuari-assiste{

  width: 300px;
  height: 300px;
  margin-top: 30px;

}

.usuari-favorito h2{

  font-family: Cheeky Rabbit;
  font-size: 30px;

}

.tudo-usuario{

  background-color: #ffffe6;
}



.img-favoritos{

  width: 800px;
  height: auto;
  margin-top: 14px;
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;


}

.img-favoritos img{

  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.edita-usa{

  width: 700px;
  height: 400px;
  margin-left: 500px;
  margin-top: -310px;
}

.butaa{

  background-color: #404040;
  color: #fff;
}

